<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG TestSuite">
    
     <listeners>
    <listener class-name="ErrorCollectors.TestListenerAdapter" />
     </listeners>
   
    
    
  <test name="Test Validate">
      
       
    <classes>
           <class name="TestValidateTitles"/>
    </classes>
  </test> <!-- Test -->
  
   

  
  
  

</suite> <!-- Suite -->
