<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  <suite name="Parallel test suite" parallel="tests">-->
  <suite name="Parallel test suite" >
  <listeners>
	<listener class-name="RetryListner"></listener>
	</listeners>
	
  <test name="Firefox Test">
  <parameter name="browser" value="chrome"/>
  
    <classes>
 <class name="ParallelTest"/>
    </classes>
  </test>
  <test name="Chrome Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="ParallelTest"/>
    </classes>
  </test>
    <test name="Internet Explorer Test">
    <parameter name="browser" value="IE"/>
    <classes>
 <class name="ParallelTest"/>
    </classes>
  </test>
</suite>
